@{
    ViewData["Title"] = "Created";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Game

<h1>Created Game</h1>
<table  class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Release date</th>
            <th>Genre</th>
            <th>Rating</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Price</td>
            <td>@Model.ReleaseDate</td>
            <td>@Model.Genre</td>
            <td>@Model.Rating</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="@Url.Action("Index")">Create a new game</a>