@model IEnumerable<GymManagementSystem.DAL.Models.Member>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Members</h1>

<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.BirthDate.ToString("dd MMMM yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <div>
                    <a style="margin-left:8px;" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a style="margin-left:8px;" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a style="margin-left:8px;" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>


</table>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
